@media screen and (max-width: 1200px){
    #main{
        display: grid;
        grid-template-columns: 220px 76%;
    }
}

@media screen and (max-width: 998px){
    body{
        font-size: 0.9em;
    }
    header .top .container{
        justify-content: space-between !important;
        padding: 0 10px;
    }
    header .top .email, header .top .worktime{
        margin: 0 !important;
    }

    .main .right #carousel{
        padding: 10px 30px 10px 30px !important;
    }

    .main .right #carousel .carousel__indikators{
        bottom: 80px !important;
    }

    .categories a span{
        border-right: 1px solid #fff;
        border-left: 1px solid #fff;
    }

    .popular__hits{
        max-width: 90%;
    }

    .categories{
        grid-template-columns: 1fr 1fr 1fr !important;
    }

    .about:before{
        margin-top: 60px;
    }

    .about-content{
        margin-top: 100px;
    }

    .companies{
        display: grid !important;
        grid-template-columns: repeat(3,1fr);
        grid-row-gap: 20px;
    }
    
    #main{
        padding: 0 10px 0 0;
    }
}

@media screen and (max-width: 900px){
    .right{
        max-width: 100% !important;
    }

    #main{ 
        grid-template-columns: 100% !important;
        padding: 0 10px !important;
    }

    .popular__hits{
        max-width: 100% !important;
    }

    .popular__hits .more__button__container .circle__more{
        right: 0 !important;
    }

    .reviews{
        align-self: center;
    }

    .reviews .container h2{
        text-align: center;
    }


}

@media screen and (max-width: 768px){

    .header__nav{
        display: none;
    }

    .developers .name__tovars{
        display: grid !important;
        grid-template-columns: 50% 50%;
    } 

    .catalog__containers__column{
        grid-template-columns: repeat(3,1fr) !important;
    }

    .burger{
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
        height: 13px;
        width: 18px;
        align-content: flex-end;
        grid-area: 1/2/2/3;
        justify-self: flex-end;
    }

    .burger:hover .line{
        background-color: #ff7517;
    }

    .burger .line{
        height: 2px;
        width: 100%;
        background-color: #f6f4f4;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        align-self: flex-end;
    }   

    .burger .line:nth-child(2){
        width: 60%;
    }

    header .top{
        display: none !important;
    }

    .dark .container{
        display: grid !important;
        grid-template-columns: 50% 50%;
        position: relative;
        height: 50px;
        padding: 0 10px;
        transition-duration: 1s;
        -moz-transition-duration: 1s;
        -o-transition-duration: 1s;
        -webkit-transition-duration: 1s;
    }

    .dark .container a{
        grid-area: 1/1/2/2;
    }

    .dark nav{
        grid-area: 2/1/3/3;
        top: 0;
        width: 100%;
    }

    .dark nav > ul{
        display: flex;
        flex-direction: column;
    }

    .cart{
        display: flex;
        justify-content: flex-end;
        grid-area: 1/2/2/3;
        margin-right: 30px;
    }

    .advantages:after{
        display: none;
    }
    
}

@media screen and (max-width: 650px){
    .main .right #carousel{
        overflow: visible !important;
        max-height: 100% !important;
        justify-content: center !important;
        height: auto;
    }

    .catalog__top{
        padding-left: 0 !important;
    }

    .about-content{
        margin-top: 50px !important;
        display: grid;
    }

    .about h1 {
        text-align: center;
        max-width: 90%;
        justify-self: center;
    }
    

    .main .right #carousel .carousel__indikators{
        grid-area: 5/1/6/2 !important;
        bottom: -10px !important;
    }

    .main .right #carousel .carusel__container{
        grid-row-gap: 20px;
    }

    .main .right #carousel .carusel__container h2{
        grid-area: 2/1/3/3 !important;
        text-align: center;
        font-size: 30px !important;
    }

    .main .right #carousel .carusel__container .cost{
        grid-area: 3/1/4/3 !important;
        text-align: center;
        align-self: center;
        font-size: 22px !important;

    }

    .main .right #carousel .carusel__container .buy{
        grid-area: 4/1/5/3 !important;
        justify-self: center;
        height: 40px;
    }

    .main .right #carousel .carusel__container img {
        grid-area: 1/1/2/3 !important;
        width: 70%;
        justify-self: center;
    }

    .categories a span{
        display: grid;
        align-items: center;
        padding: 0 !important;
    }

    .categories a img{
        max-width: 100%;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row{
        display: grid;
        grid-template-columns: 50% 50% !important;
        grid-template-rows: 24px 28px 53px 54px 26px !important;
        padding: 10px 0 0 0 !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row img {
        grid-area: 2/1/6/2 !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row h4{
        grid-area: 2/2/3/3 !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .vmeste{
        grid-area: 1/1/2/2 !important;
        padding-left: 10px;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .haracter{
        grid-area: 3/2/4/3 !important;
        align-self: end;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .price{
        grid-area: 4/2/5/3 !important;
        align-self: end;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .together {
        grid-area: 1/2/2/3 !important;
        justify-self: end !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .together .kolvo{
        display: none !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .buy{
        grid-area: 6/1/7/3 !important;
        margin: 0 !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .buy span {
        height: 100% !important;
    }

}

@media screen and (max-width: 550px){
    .catalog__containers__column{
        grid-template-columns: 49% 49% !important;
    }

    .catalog__container__column{
        max-width: 100% !important;
    }
}

@media screen and (max-width: 480px){
    .categories{
        display: grid;
        grid-template-columns: 1fr 1fr !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .vmeste{
        justify-content: space-between !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .vmeste h5{
        margin: 0 !important;
    }

    .categories a{
        flex: auto !important;
        max-width: 100%;
    }

    .categories a img{
        max-width: 100%;
    }

    .otzyv .otzyv__text p{
        font-size: 8px !important;
    }

    .otzyv__text{
        padding-bottom: 20px !important;
    }
    .reviews .container-right .otzyv__containers .otzyv img {
        width: 30%;
    }

    .main .right #carousel .carusel__container .cost{
        font-size: 19px !important;
    }
    
    .main .right #carousel .carusel__container h2{
        font-size: 20px !important;
    }

    #right .container__right .catalog__content .content__menu{
        justify-content: space-between !important;
    }

    #right .container__right .catalog__top .developers .companies {
        grid-template-columns: 50% 50% !important;
    }

    #right .container__right .catalog__content .content__menu .view{
        margin-left: 0 !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row h4{
        font-size: 12px !important;
    }

    .haracter p{
        font-size: 10px !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .together img{
        max-width: 16px !important;
        align-self: start !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .buy{
        height: 40px !important;
    }
}   


@media screen and (max-width: 360px){
    header .logo img{
        max-width: 150px !important;
    }

    .sortirovka h4{
        font-size: 12px;
        align-self: center;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .vmeste .stars{
        margin-top: 4px !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .vmeste .stars img{
        max-width: 6px !important;
        height: 6px !important;
    }

    .rows{
        width: 18px !important;
        height: 16px !important;
        align-self: center;
    }

    .rows .line{
        height: 2px !important;
    }

    .view h4{
        font-size: 12px;
        align-self: center;
    }

    .variant__value{
        font-size: 12px;
        align-self: center;
    }

    #right .container__right .catalog__top .developers .name__tovars h5{
        font-size: 12px !important;
    }

    .about h1 {
        font-size: 1.2em !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka{
        grid-row-gap: 10px !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .about__tovar h3{
        margin-bottom: 10px !important;
        font-size: 0.6em !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .about__tovar .haracter{
        margin-bottom: 10px !important;
    }

    #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .about__tovar .haracter p {
        font-size: 0.7em !important;
    }

    .advantages{
        padding: 55px 10px !important;
    }

    .otzyv{
        width: 200px !important;
    }

    .main .right #carousel .carusel__container .cost{
        font-size: 16px !important;
    }
    
    .main .right #carousel .carusel__container h2{
        font-size: 16px !important;
    }
}