@keyframes carouselShow {
  0% {
    opacity: 0%;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%); }
  100% {
    opacity: 100%;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%); } }
@keyframes carouselHide {
  0% {
    opacity: 100%;
    transform: translateX(-10%);
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    -o-transform: translateX(-10%); }
  100% {
    opacity: 0%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%); } }

@keyframes otzyvLeft {
  0% {
    transform: translateX(0%) scale(1.5);
    -webkit-transform: translateX(0%) scale(1.5);
    -moz-transform: translateX(0%) scale(1.5);
    -ms-transform: translateX(0%) scale(1.5);
    -o-transform: translateX(0%) scale(1.5);
}
  100% {
    transform: translateX(135%) scale(1);
    -webkit-transform: translateX(135%) scale(1);
    -moz-transform: translateX(135%) scale(1);
    -ms-transform: translateX(135%) scale(1);
    -o-transform: translateX(135%) scale(1);
} }
@keyframes otzyvRight {
  0% {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}
  100% {
    transform: translateX(-135%);
    -webkit-transform: translateX(-135%);
    -moz-transform: translateX(-135%);
    -ms-transform: translateX(-135%);
    -o-transform: translateX(-135%);
} }

  @keyframes otzyvHideLeft{
    0%{
      opacity: 1;
      transform: translateX(0%) scale(1);
      -webkit-transform: translateX(0%) scale(1);
      -moz-transform: translateX(0%) scale(1);
      -ms-transform: translateX(0%) scale(1);
      -o-transform: translateX(0%) scale(1);
}
    100%{
      opacity: 0;
      transform: translateX(-110%) scale(0);
      -webkit-transform: translateX(-110%) scale(0);
      -moz-transform: translateX(-110%) scale(0);
      -ms-transform: translateX(-110%) scale(0);
      -o-transform: translateX(-110%) scale(0);
}
  }

  @keyframes otzyvHideRight{
    0%{
      opacity: 1;
      transform: translateX(0%) scale(1);
      -webkit-transform: translateX(0%) scale(1);
      -moz-transform: translateX(0%) scale(1);
      -ms-transform: translateX(0%) scale(1);
      -o-transform: translateX(0%) scale(1);
}
    100%{
      opacity: 0;
      transform: translateX(110%) scale(0);
      -webkit-transform: translateX(110%) scale(0);
      -moz-transform: translateX(110%) scale(0);
      -ms-transform: translateX(110%) scale(0);
      -o-transform: translateX(110%) scale(0);
}
  }

  @keyframes otzyvShowLeft{
    0%{
      opacity: 0;
      transform: translateX(0%) scale(0);
      -webkit-transform: translateX(0%) scale(0);
      -moz-transform: translateX(0%) scale(0);
      -ms-transform: translateX(0%) scale(0);
      -o-transform: translateX(0%) scale(0);
}
    100%{
      opacity: 1;
      transform: translateX(-110%) scale(1);
      -webkit-transform: translateX(-110%) scale(1);
      -moz-transform: translateX(-110%) scale(1);
      -ms-transform: translateX(-110%) scale(1);
      -o-transform: translateX(-110%) scale(1);
}
  }

  @keyframes otzyvShowRight{
    0%{
      opacity: 0;
      transform: translateX(0%) scale(0);
      -webkit-transform: translateX(0%) scale(0);
      -moz-transform: translateX(0%) scale(0);
      -ms-transform: translateX(0%) scale(0);
      -o-transform: translateX(0%) scale(0);
}
    100%{
      opacity: 1;
      transform: translateX(110%) scale(1);
      -webkit-transform: translateX(110%) scale(1);
      -moz-transform: translateX(110%) scale(1);
      -ms-transform: translateX(110%) scale(1);
      -o-transform: translateX(110%) scale(1);
}
  }

@keyframes hidefirst{
  100%{
    transform: scale(0) translateX(-200%);
    -webkit-transform: scale(0) translateX(-200%);
    -moz-transform: scale(0) translateX(-200%);
    -ms-transform: scale(0) translateX(-200%);
    -o-transform: scale(0) translateX(-200%);
}
}
  

/*# sourceMappingURL=animations.css.map */
