.hits,.early
    margin-top: 70px
    padding-right: 29px

    .hits__title,.early__title
        font-size: 18px
        font-weight: 700

    .hits__containers,.early__containers
        display: flex
        flex-direction: column

        .hit__container,.early__container
            display: flex
            flex-direction: column
            margin-top: 18px
            height: auto
            padding: 0
            border: none
            align-items: start
            padding-bottom: 10px
            border-bottom: 1px solid #3e3939

            img
                max-width: 100px

            h4
                font-size: 16px
                margin-top: 10px
            
            .stars
                margin-top: 5px

                img
                    margin-left: 2px
                
                img:first-child
                    margin-left: 0

            .price
                font-size: 16px
                margin-top: 10px

        .hit__container:nth-child(3),.early__container:nth-child(3)
            border-bottom: none

#right
    max-width: 100%
    .container__right
        max-width: 950px
        width: 100%

        .tovar__card
            display: flex
            flex-direction: column

            .top__navigation
                padding: 33px 0 0 66px

                p
                    font-size: 14px

                    a
                        text-decoration: none
                        color: #3e3939

            .tovar__card__content
                display: grid
                margin-top: 34px
                grid-template-columns: 382px/950px*100% 394px/950px*100% 175px/950px*100%

                .tovar__photos
                    display: grid
                    width: 100%
                    max-width: 100%
                    width: 380px

                    img
                        max-width: 100%
                        width: 380px
                        max-height: 335px

                    .more__photos
                        display: grid
                        grid-template-columns: repeat(4,1fr)
                        grid-column-gap: 5%

                        img
                            width: 100%

                        img:hover
                            filter: blur(1px)
                            cursor: pointer

                .card__tovar__main
                    display: grid
                    grid-template-rows: 37px 66px 52px 52px 114px 112px
                    justify-self: center

                    h2
                        grid-area: 1/1/2/2

                    .otzyvy
                        grid-area: 2/1/3/2
                        display: flex
                        justify-content: flex-start

                    .cost
                        grid-area: 3/1/4/2
                        align-self: end
                        font-size: 24px
                        font-weight: 700

                    .kolvo
                        grid-area: 4/1/5/2
                        width: 95px
                        height: 32px
                        display: grid
                        grid-template-columns: 21.5px 52px 21.5px
                        align-self: end
                        justify-self: start

                        .min
                            grid-area: 1/1/2/2
                            width: 100% 
                            height: 100%
                            border-radius: 15px 0 0 15px
                            border: 1px solid #000000
                            border-right: none
                            display: grid
                            text-align: center
                            font-size: 20px
                            font-weight: 700

                        .min:hover
                            cursor: pointer


                        .kolvo__input
                            width: 100%
                            height: 100%
                            border: 1px solid #000000
                            text-align: center

                        .plu
                            width: 100%
                            height: 100%
                            border-radius: 0 15px 15px 0
                            border: 1px solid #000000
                            border-left: none
                            display: grid
                            align-items: center
                            text-align: center
                            font-size: 20px
                            font-weight: 700

                        .plu:hover
                            cursor: pointer

                    .buy
                        grid-area: 5/1/6/2
                        align-self: start
                        margin-top: 20px
                        height: 50px
                        max-width: 50%
                        display: grid
                        grid-template-columns: 70% 30%
                        align-items: center
                        text-decoration: none

                        span
                            height: 36px
                            width: 100%
                            border: 1px solid #ff7517
                            display: flex
                            align-content: center
                            justify-content: center

                            p
                                color: #2c2727
                                font-size: 16px/16px*1em
                                font-weight: 400
                                align-self: center

                            svg
                                max-width: 28px
                                height: 100%

                        span:first-child
                            border-right: none

                    .buy:hover
                        cursor: pointer

                    .buy__kredit
                        grid-area: 6/1/7/2
                        display: grid
                        grid-template-rows: 36px 75px
                        max-width: 100%
                        width: 330px

                        .top
                            grid-area: 1/1/2/2
                            display: flex
                            border-bottom: 1px solid #3e3939
                            

                            h3
                                font-size: 16px
                                font-weight: 400
                                align-self: start

                            h4
                                font-size: 12px
                                align-self: start
                                font-weight: 400
                                margin-left: 15px
                                margin-top: 3px

                        .bottom
                            grid-area: 2/1/3/2
                            font-size: 14px
                            align-self: end

                .credit__info
                    display: grid
                    grid-template-rows: 20px auto
                    grid-row-gap: 35px
                    width: 129px
                    max-width: 100%
                    justify-self: end


                    .top
                        display: flex
                        justify-content: space-between

                        p
                            color: #489722
                            font-size: 12px
                            align-self: flex-end

                        img
                            max-width: 20px

                    .credit__containers
                        display: grid
                        grid-template-rows: repeat(4,60px)
                        grid-row-gap: 28px

                        .credit__container
                            display: flex
                            justify-content: space-between
                            

                            img
                                max-width: 30px
                                align-self: start

                            .about
                                display: flex
                                flex-direction: column
                                justify-content: space-between

                                h4
                                    color: #2c2727
                                    text-align: right
                                    font-size: 18px
                                    font-weight: 700px

                                h5
                                    color: #2c2727
                                    text-align: right
                                    font-size: 12px


                        .credit__container:first-child
                            margin-top: 0

        .bonus
            margin-top: 60px

            .bonus__title
                text-align: center

            .bonus__containers
                display: flex
                flex-direction: column

                .bonus__container
                    margin-top: 12px
                    display: grid
                    grid-template-columns: 40.246575% 166px/292px*100%
                    grid-column-gap: 20px
                    padding-bottom: 15px
                    border-bottom: 1px solid #3e3939

                    .left__bonus
                        display: grid
                        grid-template-rows: auto 9px 24px
                        grid-row-gap: 7px

                        img
                            max-width: 100%

                        .stars
                            justify-self: center

                        p
                            color: #2c2727
                            font-size: 16px
                            font-weight: 700
                            text-align: center

                    .right__bonus
                        display: flex
                        flex-direction: column
                        justify-content: space-between

                        .complect
                            grid-area: 1/1/2/2
                            display: flex
                            justify-content: flex-start

                            p
                                color: #2c2727
                                font-size: 14px
                                font-weight: 400
                            
                            .gift
                                color: #ff7517
                                font-size: 14px
                                font-weight: 700
                                margin-left: 5px

                        h3
                            grid-area: 2/1/3/2
                            color: #2c2727
                            font-size: 16px

                        .three
                            grid-template-columns: 100% !important

                        .gifts__containers
                            display: grid
                            grid-template-columns: 50% 50%
                            grid-row-gap: 14px

                            .gift__container
                                display: flex

                                p
                                    color: #2c2727
                                    font-size: 16px
                                    font-weight: 700
                                    margin-left: 13px
                                    align-self: center

                                img
                                    width: 11px
                                    height: 11px
                                    align-self: center

                        .buy
                            display: grid
                            grid-template-columns: 70% 30%
                            align-items: center
                            width: 80%

                            span
                                height: 36px
                                width: 100%
                                border: 1px solid #ff7517
                                display: flex
                                align-content: center
                                justify-content: center

                                p
                                    color: #2c2727
                                    font-size: 16px/16px*1em
                                    font-weight: 400
                                    align-self: center

                                svg
                                    max-width: 28px
                                    height: 100%
                                    align-self: center

                            span:first-child
                                border-right: none

                        .buy:hover
                            cursor: pointer
                                

                    

                .bonus__container:first-child
                    margin-top: 0                

        .harakteristiks,.harakteristiks__mobile
            margin-top: 50px
            display: flex
            flex-direction: column

            .top__nav
                display: grid
                grid-template-columns: repeat(5,1fr)
                grid-column-gap: 12px

                .active
                    color: #ff7517 !important
                    font-weight: 700

                .container__harakter
                    height: 37px
                    background-color: #3e3939
                    color: #ffffff
                    display: grid
                    text-align: center
                    align-items: center
                    font-size: 18px

                .container__harakter:hover
                    cursor: pointer
                    color: #ff7517
                    font-weight: 700

            .container__harakter__content
                padding: 18px 25px 25px 25px
                background-color: #f6f4f4
                display: grid
                grid-row-gap: 30px

                .top
                    color: #2c2727
                    font-size: 16px

                .technic__harakter
                    display: flex
                    flex-direction: column

                    h3
                        font-size: 18px
                        margin-bottom: 16px

                    .technic__containers
                        display: grid
                        grid-row-gap: 6px

                        .technic__container
                            width: 335px
                            display: grid
                            grid-template-columns: 1fr 1fr
                            grid-column-gap: 25px

                            p
                                font-size: 16px
                                font-weight: 400

                            h4
                                font-size: 16px
                                font-weight: 700

                .complectation
                    display: grid
                    grid-row-gap: 15px

                    ul
                        display: grid
                        grid-row-gap: 10px

                        .img__li
                            list-style-image: url(../img/li_image.svg)


        .popular__hits
            display: flex
            flex-direction: column
            margin-top: 80px
            margin-bottom: 80px

            .container
                max-width: 950px
                width: 100%

            .top
                display: grid
                grid-template-columns: 49% 47%
                grid-column-gap: 40px
                position: relative

                .button__active
                    border-bottom: 3px solid #ff7517 !important

                .new__button
                    grid-area: 1/1/2/2
                    align-self: start
                    justify-self: end
                    box-sizing: border-box
                    border-bottom: 3px solid #3e3939 
                    position: relative
                    z-index: 10
                    margin: 0
                    padding-bottom: 20px

                .new__button:hover
                    border-bottom: 3px solid #ff7517
                    cursor: pointer

                .hits__button
                    grid-area: 1/2/2/3
                    align-self: start
                    justify-self: start
                    box-sizing: border-box
                    border-bottom: 3px solid #3e3939 
                    position: relative
                    z-index: 10
                    margin: 0
                    padding-bottom: 20px

                .hits__button:hover
                    border-bottom: 3px solid #ff7517
                    cursor: pointer

                .line
                    grid-area: 1/1/2/3
                    width: 100%
                    height: 3px
                    background-color: #3e3939 
                    align-self: end
                    position: absolute
                    z-index: 9

            .more__button__container
                display: flex
                position: relative

                .circle__more
                    width: 50px
                    height: 50px
                    border-radius: 50%
                    background-color: #3e3939
                    display: grid
                    position: absolute
                    align-self: center
                    z-index: 11
                    right: -25px

                    svg
                        align-self: center  
                        justify-self: center
                        max-width: 15px
                        fill: #ffffff

                .populars__containers
                    display: flex
                    overflow-x: scroll
                    margin-top: 25px
                    scroll-behavior: smooth

                .popular__container
                    width: 230px
                    max-width: 100%
                    margin-left: 10px

                    .ramka
                        width: 230px
                        display: grid
                        grid-template-columns: 50% 50%
                        grid-row-gap: 20px
                        padding: 10px 15px 0 15px
                        border: 1px solid #3e3939
                        border-bottom: none

                    .stars
                        grid-area: 1/1/2/2
                        display: flex

                        img
                            height: 11px
                            width: 11px

                    .diagram
                        max-width: 24px
                        width: 100%
                        grid-area: 1/2/2/3

                    .image__tovar
                        grid-area: 2/1/3/3
                        position: relative
                        display: grid

                        p
                            position: absolute
                            align-self: start
                            justify-self: start
                            z-index: 2
                            color: green

                        img
                            width: 60%
                            position: relative
                            z-index: 1
                            justify-self: center

                    .about__tovar
                            grid-area: 3/1/4/3
                            display: flex
                            flex-direction: column

                        h3
                            font-size: 16px/16px*1em
                            font-weight: 600
                            margin-bottom: 23px

                        .haracter
                            display: flex
                            flex-direction: column
                            margin-bottom: 34px

                            p
                                font-size: 12px/16px*1em
                                font-weight: 300

                                .bold
                                    font-size: 12px/16px*1em
                                    font-weight: 600

                        .cost
                            color: #2c2727
                            font-size: 16px/16px*1em
                            font-weight: 600
                            margin-bottom: 25px
                    
                    .buy
                        display: grid
                        grid-template-columns: 70% 30%
                        align-items: center

                        span
                            height: 36px
                            width: 100%
                            border: 1px solid #ff7517
                            display: flex
                            align-content: center
                            justify-content: center

                            p
                                color: #2c2727
                                font-size: 16px/16px*1em
                                font-weight: 400
                                align-self: center

                            svg
                                max-width: 28px
                                height: 100%
                                align-self: center

                    span:first-child
                        border-right: none

                    .buy:hover
                    cursor: pointer

                .popular__container:first-child
                    margin-left: 0

                .populars__containers::-webkit-scrollbar
                    height: 0px
                    width: 0px

        .early__mobile,.hits__mobile
            margin-top: 70px
            padding-right: 29px

            .hits__title,.early__title
                font-size: 18px
                font-weight: 700

            .more__button__container
                display: flex
                position: relative

                .circle__more__early,.circle__more__hits
                    width: 50px
                    height: 50px
                    border-radius: 50%
                    background-color: #3e3939
                    display: grid
                    position: absolute
                    align-self: center
                    z-index: 11
                    right: -25px

                    svg
                        align-self: center  
                        justify-self: center
                        max-width: 15px
                        fill: #ffffff

            .hits__containers,.early__containers
                display: flex
                overflow-x: scroll
                padding-bottom: 40px
                scroll-behavior: smooth

                .hits__container,.early__container
                    display: flex
                    flex-direction: column
                    text-decoration: none
                    margin-top: 18px
                    height: auto
                    padding: 0
                    border: none
                    align-items: start
                    padding-bottom: 10px
                    margin-left: 37px
                    width: 230px

                    img
                        max-width: 100px

                    h4
                        font-size: 16px
                        margin-top: 10px
                        color: #2c2727
                    
                    .stars
                        margin-top: 5px

                        img
                            margin-left: 2px
                        
                        img:first-child
                            margin-left: 0

                    .price
                        font-size: 16px
                        margin-top: 10px
                        color: #2c2727

                .hits__container:first-child,.early__container:first-child
                    margin-left: 0

                .hits__container:nth-child(3),.early__container:nth-child(3)
                    border-bottom: none

            .hits__containers::-webkit-scrollbar,.early__containers::-webkit-scrollbar
                height: 0px
                width: 0px

                        

                    
                    
                    
