.filter {
  margin-top: 91px;
  max-width: 100%; }
  .filter .form__content {
    display: flex;
    flex-direction: column;
    background-color: #f6f4f4; }
    .filter .form__content .filter__name {
      padding: 0 14px;
      padding-bottom: 26px; }
      .filter .form__content .filter__name .section__title {
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-content: center; }
        .filter .form__content .filter__name .section__title h3 {
          font-size: 16px;
          font-weight: 700;
          align-self: center; }
        .filter .form__content .filter__name .section__title .active {
          transform: rotateY(360deg) rotateX(360deg) !important; }
        .filter .form__content .filter__name .section__title .treugolnik {
          background: rgba(0, 0, 0, 0);
          border-radius: 10px;
          padding: 4px;
          position: relative;
          color: rgba(0, 0, 0, 0);
          transition-duration: 1s;
          align-self: center;
          transform: rotateY(180deg) rotateX(180deg); }
        .filter .form__content .filter__name .section__title .treugolnik::after {
          content: "";
          position: absolute;
          left: 0px;
          bottom: 0px;
          border: 4px solid transparent;
          border-bottom: 6px solid #000000; }
      .filter .form__content .filter__name .cost__content {
        display: grid;
        grid-row-gap: 20px; }
        .filter .form__content .filter__name .cost__content .top {
          display: flex;
          justify-content: space-between;
          height: 31px; }
          .filter .form__content .filter__name .cost__content .top input {
            height: 100%;
            width: 80px;
            padding-left: 10px;
            font-size: 14px;
            color: #0a0a0a; }
          .filter .form__content .filter__name .cost__content .top .line {
            height: 1px;
            width: 10px;
            background-color: #3e3939;
            align-self: center; }
        .filter .form__content .filter__name .cost__content .range {
          display: grid;
          grid-template-columns: 50% 50%; }
          .filter .form__content .filter__name .cost__content .range #value__of, .filter .form__content .filter__name .cost__content .range #value__to {
            font-size: 16px;
            font-weight: 700; }
          .filter .form__content .filter__name .cost__content .range #value__of {
            text-align: left; }
          .filter .form__content .filter__name .cost__content .range #value__to {
            text-align: right; }
          .filter .form__content .filter__name .cost__content .range #slider-range {
            margin-top: 10px;
            grid-area: 2/1/3/3;
            width: 95%;
            justify-self: end;
            align-self: center; }
          .filter .form__content .filter__name .cost__content .range .ui-slider-horizontal {
            height: 3px; }
          .filter .form__content .filter__name .cost__content .range .ui-slider .ui-slider-range {
            border: none; }
          .filter .form__content .filter__name .cost__content .range .ui-widget-content {
            background: #3e3939;
            color: #3e3939;
            border: none; }
          .filter .form__content .filter__name .cost__content .range .ui-slider-horizontal .ui-slider-handle {
            border-radius: 50%; }
          .filter .form__content .filter__name .cost__content .range .ui-slider-horizontal .ui-slider-handle {
            width: 11px;
            height: 11px;
            background: #fff;
            border: 2px solid #ff7517; }
          .filter .form__content .filter__name .cost__content .range .ui-widget-header {
            background: #ff7517;
            color: #ff7517; }
      .filter .form__content .filter__name .productivity__content, .filter .form__content .filter__name .power__content, .filter .form__content .filter__name .engine__content, .filter .form__content .filter__name .passing__content, .filter .form__content .filter__name .weight__content {
        display: grid;
        grid-row-gap: 8px; }
        .filter .form__content .filter__name .productivity__content .productivity__value, .filter .form__content .filter__name .productivity__content .power__value, .filter .form__content .filter__name .productivity__content .engine__value, .filter .form__content .filter__name .productivity__content .passing__value, .filter .form__content .filter__name .productivity__content .weight__value, .filter .form__content .filter__name .power__content .productivity__value, .filter .form__content .filter__name .power__content .power__value, .filter .form__content .filter__name .power__content .engine__value, .filter .form__content .filter__name .power__content .passing__value, .filter .form__content .filter__name .power__content .weight__value, .filter .form__content .filter__name .engine__content .productivity__value, .filter .form__content .filter__name .engine__content .power__value, .filter .form__content .filter__name .engine__content .engine__value, .filter .form__content .filter__name .engine__content .passing__value, .filter .form__content .filter__name .engine__content .weight__value, .filter .form__content .filter__name .passing__content .productivity__value, .filter .form__content .filter__name .passing__content .power__value, .filter .form__content .filter__name .passing__content .engine__value, .filter .form__content .filter__name .passing__content .passing__value, .filter .form__content .filter__name .passing__content .weight__value, .filter .form__content .filter__name .weight__content .productivity__value, .filter .form__content .filter__name .weight__content .power__value, .filter .form__content .filter__name .weight__content .engine__value, .filter .form__content .filter__name .weight__content .passing__value, .filter .form__content .filter__name .weight__content .weight__value {
          display: flex;
          justify-items: flex-start;
          align-items: center; }
          .filter .form__content .filter__name .productivity__content .productivity__value .productivity__input, .filter .form__content .filter__name .productivity__content .productivity__value .power__input, .filter .form__content .filter__name .productivity__content .productivity__value .engine__input, .filter .form__content .filter__name .productivity__content .productivity__value .passing__input, .filter .form__content .filter__name .productivity__content .productivity__value .weight__input, .filter .form__content .filter__name .productivity__content .power__value .productivity__input, .filter .form__content .filter__name .productivity__content .power__value .power__input, .filter .form__content .filter__name .productivity__content .power__value .engine__input, .filter .form__content .filter__name .productivity__content .power__value .passing__input, .filter .form__content .filter__name .productivity__content .power__value .weight__input, .filter .form__content .filter__name .productivity__content .engine__value .productivity__input, .filter .form__content .filter__name .productivity__content .engine__value .power__input, .filter .form__content .filter__name .productivity__content .engine__value .engine__input, .filter .form__content .filter__name .productivity__content .engine__value .passing__input, .filter .form__content .filter__name .productivity__content .engine__value .weight__input, .filter .form__content .filter__name .productivity__content .passing__value .productivity__input, .filter .form__content .filter__name .productivity__content .passing__value .power__input, .filter .form__content .filter__name .productivity__content .passing__value .engine__input, .filter .form__content .filter__name .productivity__content .passing__value .passing__input, .filter .form__content .filter__name .productivity__content .passing__value .weight__input, .filter .form__content .filter__name .productivity__content .weight__value .productivity__input, .filter .form__content .filter__name .productivity__content .weight__value .power__input, .filter .form__content .filter__name .productivity__content .weight__value .engine__input, .filter .form__content .filter__name .productivity__content .weight__value .passing__input, .filter .form__content .filter__name .productivity__content .weight__value .weight__input, .filter .form__content .filter__name .power__content .productivity__value .productivity__input, .filter .form__content .filter__name .power__content .productivity__value .power__input, .filter .form__content .filter__name .power__content .productivity__value .engine__input, .filter .form__content .filter__name .power__content .productivity__value .passing__input, .filter .form__content .filter__name .power__content .productivity__value .weight__input, .filter .form__content .filter__name .power__content .power__value .productivity__input, .filter .form__content .filter__name .power__content .power__value .power__input, .filter .form__content .filter__name .power__content .power__value .engine__input, .filter .form__content .filter__name .power__content .power__value .passing__input, .filter .form__content .filter__name .power__content .power__value .weight__input, .filter .form__content .filter__name .power__content .engine__value .productivity__input, .filter .form__content .filter__name .power__content .engine__value .power__input, .filter .form__content .filter__name .power__content .engine__value .engine__input, .filter .form__content .filter__name .power__content .engine__value .passing__input, .filter .form__content .filter__name .power__content .engine__value .weight__input, .filter .form__content .filter__name .power__content .passing__value .productivity__input, .filter .form__content .filter__name .power__content .passing__value .power__input, .filter .form__content .filter__name .power__content .passing__value .engine__input, .filter .form__content .filter__name .power__content .passing__value .passing__input, .filter .form__content .filter__name .power__content .passing__value .weight__input, .filter .form__content .filter__name .power__content .weight__value .productivity__input, .filter .form__content .filter__name .power__content .weight__value .power__input, .filter .form__content .filter__name .power__content .weight__value .engine__input, .filter .form__content .filter__name .power__content .weight__value .passing__input, .filter .form__content .filter__name .power__content .weight__value .weight__input, .filter .form__content .filter__name .engine__content .productivity__value .productivity__input, .filter .form__content .filter__name .engine__content .productivity__value .power__input, .filter .form__content .filter__name .engine__content .productivity__value .engine__input, .filter .form__content .filter__name .engine__content .productivity__value .passing__input, .filter .form__content .filter__name .engine__content .productivity__value .weight__input, .filter .form__content .filter__name .engine__content .power__value .productivity__input, .filter .form__content .filter__name .engine__content .power__value .power__input, .filter .form__content .filter__name .engine__content .power__value .engine__input, .filter .form__content .filter__name .engine__content .power__value .passing__input, .filter .form__content .filter__name .engine__content .power__value .weight__input, .filter .form__content .filter__name .engine__content .engine__value .productivity__input, .filter .form__content .filter__name .engine__content .engine__value .power__input, .filter .form__content .filter__name .engine__content .engine__value .engine__input, .filter .form__content .filter__name .engine__content .engine__value .passing__input, .filter .form__content .filter__name .engine__content .engine__value .weight__input, .filter .form__content .filter__name .engine__content .passing__value .productivity__input, .filter .form__content .filter__name .engine__content .passing__value .power__input, .filter .form__content .filter__name .engine__content .passing__value .engine__input, .filter .form__content .filter__name .engine__content .passing__value .passing__input, .filter .form__content .filter__name .engine__content .passing__value .weight__input, .filter .form__content .filter__name .engine__content .weight__value .productivity__input, .filter .form__content .filter__name .engine__content .weight__value .power__input, .filter .form__content .filter__name .engine__content .weight__value .engine__input, .filter .form__content .filter__name .engine__content .weight__value .passing__input, .filter .form__content .filter__name .engine__content .weight__value .weight__input, .filter .form__content .filter__name .passing__content .productivity__value .productivity__input, .filter .form__content .filter__name .passing__content .productivity__value .power__input, .filter .form__content .filter__name .passing__content .productivity__value .engine__input, .filter .form__content .filter__name .passing__content .productivity__value .passing__input, .filter .form__content .filter__name .passing__content .productivity__value .weight__input, .filter .form__content .filter__name .passing__content .power__value .productivity__input, .filter .form__content .filter__name .passing__content .power__value .power__input, .filter .form__content .filter__name .passing__content .power__value .engine__input, .filter .form__content .filter__name .passing__content .power__value .passing__input, .filter .form__content .filter__name .passing__content .power__value .weight__input, .filter .form__content .filter__name .passing__content .engine__value .productivity__input, .filter .form__content .filter__name .passing__content .engine__value .power__input, .filter .form__content .filter__name .passing__content .engine__value .engine__input, .filter .form__content .filter__name .passing__content .engine__value .passing__input, .filter .form__content .filter__name .passing__content .engine__value .weight__input, .filter .form__content .filter__name .passing__content .passing__value .productivity__input, .filter .form__content .filter__name .passing__content .passing__value .power__input, .filter .form__content .filter__name .passing__content .passing__value .engine__input, .filter .form__content .filter__name .passing__content .passing__value .passing__input, .filter .form__content .filter__name .passing__content .passing__value .weight__input, .filter .form__content .filter__name .passing__content .weight__value .productivity__input, .filter .form__content .filter__name .passing__content .weight__value .power__input, .filter .form__content .filter__name .passing__content .weight__value .engine__input, .filter .form__content .filter__name .passing__content .weight__value .passing__input, .filter .form__content .filter__name .passing__content .weight__value .weight__input, .filter .form__content .filter__name .weight__content .productivity__value .productivity__input, .filter .form__content .filter__name .weight__content .productivity__value .power__input, .filter .form__content .filter__name .weight__content .productivity__value .engine__input, .filter .form__content .filter__name .weight__content .productivity__value .passing__input, .filter .form__content .filter__name .weight__content .productivity__value .weight__input, .filter .form__content .filter__name .weight__content .power__value .productivity__input, .filter .form__content .filter__name .weight__content .power__value .power__input, .filter .form__content .filter__name .weight__content .power__value .engine__input, .filter .form__content .filter__name .weight__content .power__value .passing__input, .filter .form__content .filter__name .weight__content .power__value .weight__input, .filter .form__content .filter__name .weight__content .engine__value .productivity__input, .filter .form__content .filter__name .weight__content .engine__value .power__input, .filter .form__content .filter__name .weight__content .engine__value .engine__input, .filter .form__content .filter__name .weight__content .engine__value .passing__input, .filter .form__content .filter__name .weight__content .engine__value .weight__input, .filter .form__content .filter__name .weight__content .passing__value .productivity__input, .filter .form__content .filter__name .weight__content .passing__value .power__input, .filter .form__content .filter__name .weight__content .passing__value .engine__input, .filter .form__content .filter__name .weight__content .passing__value .passing__input, .filter .form__content .filter__name .weight__content .passing__value .weight__input, .filter .form__content .filter__name .weight__content .weight__value .productivity__input, .filter .form__content .filter__name .weight__content .weight__value .power__input, .filter .form__content .filter__name .weight__content .weight__value .engine__input, .filter .form__content .filter__name .weight__content .weight__value .passing__input, .filter .form__content .filter__name .weight__content .weight__value .weight__input {
            display: none; }
          .filter .form__content .filter__name .productivity__content .productivity__value label, .filter .form__content .filter__name .productivity__content .power__value label, .filter .form__content .filter__name .productivity__content .engine__value label, .filter .form__content .filter__name .productivity__content .passing__value label, .filter .form__content .filter__name .productivity__content .weight__value label, .filter .form__content .filter__name .power__content .productivity__value label, .filter .form__content .filter__name .power__content .power__value label, .filter .form__content .filter__name .power__content .engine__value label, .filter .form__content .filter__name .power__content .passing__value label, .filter .form__content .filter__name .power__content .weight__value label, .filter .form__content .filter__name .engine__content .productivity__value label, .filter .form__content .filter__name .engine__content .power__value label, .filter .form__content .filter__name .engine__content .engine__value label, .filter .form__content .filter__name .engine__content .passing__value label, .filter .form__content .filter__name .engine__content .weight__value label, .filter .form__content .filter__name .passing__content .productivity__value label, .filter .form__content .filter__name .passing__content .power__value label, .filter .form__content .filter__name .passing__content .engine__value label, .filter .form__content .filter__name .passing__content .passing__value label, .filter .form__content .filter__name .passing__content .weight__value label, .filter .form__content .filter__name .weight__content .productivity__value label, .filter .form__content .filter__name .weight__content .power__value label, .filter .form__content .filter__name .weight__content .engine__value label, .filter .form__content .filter__name .weight__content .passing__value label, .filter .form__content .filter__name .weight__content .weight__value label {
            display: inline-block;
            cursor: pointer;
            position: relative;
            padding-left: 25px;
            margin-left: 0;
            line-height: 18px;
            user-select: none; }
          .filter .form__content .filter__name .productivity__content .productivity__value label:before, .filter .form__content .filter__name .productivity__content .power__value label:before, .filter .form__content .filter__name .productivity__content .engine__value label:before, .filter .form__content .filter__name .productivity__content .passing__value label:before, .filter .form__content .filter__name .productivity__content .weight__value label:before, .filter .form__content .filter__name .power__content .productivity__value label:before, .filter .form__content .filter__name .power__content .power__value label:before, .filter .form__content .filter__name .power__content .engine__value label:before, .filter .form__content .filter__name .power__content .passing__value label:before, .filter .form__content .filter__name .power__content .weight__value label:before, .filter .form__content .filter__name .engine__content .productivity__value label:before, .filter .form__content .filter__name .engine__content .power__value label:before, .filter .form__content .filter__name .engine__content .engine__value label:before, .filter .form__content .filter__name .engine__content .passing__value label:before, .filter .form__content .filter__name .engine__content .weight__value label:before, .filter .form__content .filter__name .passing__content .productivity__value label:before, .filter .form__content .filter__name .passing__content .power__value label:before, .filter .form__content .filter__name .passing__content .engine__value label:before, .filter .form__content .filter__name .passing__content .passing__value label:before, .filter .form__content .filter__name .passing__content .weight__value label:before, .filter .form__content .filter__name .weight__content .productivity__value label:before, .filter .form__content .filter__name .weight__content .power__value label:before, .filter .form__content .filter__name .weight__content .engine__value label:before, .filter .form__content .filter__name .weight__content .passing__value label:before, .filter .form__content .filter__name .weight__content .weight__value label:before {
            content: "";
            display: inline-block;
            width: 14px;
            height: 14px;
            position: absolute;
            left: 0;
            bottom: 1px;
            border: 1px solid #3e3939;
            background-color: #ffffff;
            box-sizing: border-box; }
          .filter .form__content .filter__name .productivity__content .productivity__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .productivity__content .power__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .productivity__content .engine__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .productivity__content .passing__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .productivity__content .weight__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .power__content .productivity__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .power__content .power__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .power__content .engine__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .power__content .passing__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .power__content .weight__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .engine__content .productivity__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .engine__content .power__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .engine__content .engine__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .engine__content .passing__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .engine__content .weight__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .passing__content .productivity__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .passing__content .power__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .passing__content .engine__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .passing__content .passing__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .passing__content .weight__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .weight__content .productivity__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .weight__content .power__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .weight__content .engine__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .weight__content .passing__value input[type=radio]:checked + label:before, .filter .form__content .filter__name .weight__content .weight__value input[type=radio]:checked + label:before {
            background-color: #ff7517;
            border: none; }
          .filter .form__content .filter__name .productivity__content .productivity__value label:hover:before, .filter .form__content .filter__name .productivity__content .power__value label:hover:before, .filter .form__content .filter__name .productivity__content .engine__value label:hover:before, .filter .form__content .filter__name .productivity__content .passing__value label:hover:before, .filter .form__content .filter__name .productivity__content .weight__value label:hover:before, .filter .form__content .filter__name .power__content .productivity__value label:hover:before, .filter .form__content .filter__name .power__content .power__value label:hover:before, .filter .form__content .filter__name .power__content .engine__value label:hover:before, .filter .form__content .filter__name .power__content .passing__value label:hover:before, .filter .form__content .filter__name .power__content .weight__value label:hover:before, .filter .form__content .filter__name .engine__content .productivity__value label:hover:before, .filter .form__content .filter__name .engine__content .power__value label:hover:before, .filter .form__content .filter__name .engine__content .engine__value label:hover:before, .filter .form__content .filter__name .engine__content .passing__value label:hover:before, .filter .form__content .filter__name .engine__content .weight__value label:hover:before, .filter .form__content .filter__name .passing__content .productivity__value label:hover:before, .filter .form__content .filter__name .passing__content .power__value label:hover:before, .filter .form__content .filter__name .passing__content .engine__value label:hover:before, .filter .form__content .filter__name .passing__content .passing__value label:hover:before, .filter .form__content .filter__name .passing__content .weight__value label:hover:before, .filter .form__content .filter__name .weight__content .productivity__value label:hover:before, .filter .form__content .filter__name .weight__content .power__value label:hover:before, .filter .form__content .filter__name .weight__content .engine__value label:hover:before, .filter .form__content .filter__name .weight__content .passing__value label:hover:before, .filter .form__content .filter__name .weight__content .weight__value label:hover:before {
            background-color: #ff7517;
            border: none; }
      .filter .form__content .filter__name .section__title:hover {
        cursor: pointer; }
        .filter .form__content .filter__name .section__title:hover .treugolnik {
          transform: rotateY(180deg) rotateX(180deg); }
    .filter .form__content #submit, .filter .form__content #clear {
      height: 40px;
      width: 100%;
      display: grid;
      align-items: center; }
      .filter .form__content #submit p, .filter .form__content #clear p {
        font-size: 14px;
        font-weight: 400;
        text-align: center; }
    .filter .form__content #submit:hover, .filter .form__content #clear:hover {
      border: 1px solid #ff7517;
      cursor: pointer; }

.hits, .early {
  margin-top: 70px;
  padding-right: 29px; }
  .hits .hits__title, .hits .early__title, .early .hits__title, .early .early__title {
    font-size: 18px;
    font-weight: 700; }
  .hits .hits__containers, .hits .early__containers, .early .hits__containers, .early .early__containers {
    display: flex;
    flex-direction: column; }
    .hits .hits__containers .hit__container, .hits .hits__containers .early__container, .hits .early__containers .hit__container, .hits .early__containers .early__container, .early .hits__containers .hit__container, .early .hits__containers .early__container, .early .early__containers .hit__container, .early .early__containers .early__container {
      display: flex;
      flex-direction: column;
      margin-top: 18px;
      height: auto;
      padding: 0;
      border: none;
      align-items: start;
      padding-bottom: 10px;
      border-bottom: 1px solid #3e3939; }
      .hits .hits__containers .hit__container img, .hits .hits__containers .early__container img, .hits .early__containers .hit__container img, .hits .early__containers .early__container img, .early .hits__containers .hit__container img, .early .hits__containers .early__container img, .early .early__containers .hit__container img, .early .early__containers .early__container img {
        max-width: 100px; }
      .hits .hits__containers .hit__container h4, .hits .hits__containers .early__container h4, .hits .early__containers .hit__container h4, .hits .early__containers .early__container h4, .early .hits__containers .hit__container h4, .early .hits__containers .early__container h4, .early .early__containers .hit__container h4, .early .early__containers .early__container h4 {
        font-size: 16px;
        margin-top: 10px; }
      .hits .hits__containers .hit__container .stars, .hits .hits__containers .early__container .stars, .hits .early__containers .hit__container .stars, .hits .early__containers .early__container .stars, .early .hits__containers .hit__container .stars, .early .hits__containers .early__container .stars, .early .early__containers .hit__container .stars, .early .early__containers .early__container .stars {
        margin-top: 5px; }
        .hits .hits__containers .hit__container .stars img, .hits .hits__containers .early__container .stars img, .hits .early__containers .hit__container .stars img, .hits .early__containers .early__container .stars img, .early .hits__containers .hit__container .stars img, .early .hits__containers .early__container .stars img, .early .early__containers .hit__container .stars img, .early .early__containers .early__container .stars img {
          margin-left: 2px; }
        .hits .hits__containers .hit__container .stars img:first-child, .hits .hits__containers .early__container .stars img:first-child, .hits .early__containers .hit__container .stars img:first-child, .hits .early__containers .early__container .stars img:first-child, .early .hits__containers .hit__container .stars img:first-child, .early .hits__containers .early__container .stars img:first-child, .early .early__containers .hit__container .stars img:first-child, .early .early__containers .early__container .stars img:first-child {
          margin-left: 0; }
      .hits .hits__containers .hit__container .price, .hits .hits__containers .early__container .price, .hits .early__containers .hit__container .price, .hits .early__containers .early__container .price, .early .hits__containers .hit__container .price, .early .hits__containers .early__container .price, .early .early__containers .hit__container .price, .early .early__containers .early__container .price {
        font-size: 16px;
        margin-top: 10px; }
    .hits .hits__containers .hit__container:nth-child(3), .hits .hits__containers .early__container:nth-child(3), .hits .early__containers .hit__container:nth-child(3), .hits .early__containers .early__container:nth-child(3), .early .hits__containers .hit__container:nth-child(3), .early .hits__containers .early__container:nth-child(3), .early .early__containers .hit__container:nth-child(3), .early .early__containers .early__container:nth-child(3) {
      border-bottom: none; }

#right {
  max-width: 100%; }
  #right .container__right {
    max-width: 950px;
    width: 100%; }
    #right .container__right .catalog__top {
      padding-top: 34px;
      padding-left: 65px;
      display: flex;
      flex-direction: column; }
      #right .container__right .catalog__top .links p a {
        text-decoration: none;
        color: #3e3939; }
      #right .container__right .catalog__top h2 {
        margin-top: 33px;
        margin-bottom: 0; }
      #right .container__right .catalog__top .developers {
        margin-top: 27px; }
        #right .container__right .catalog__top .developers .companies {
          margin-top: 8px;
          display: flex;
          justify-content: space-between; }
          #right .container__right .catalog__top .developers .companies .company {
            display: flex; }
            #right .container__right .catalog__top .developers .companies .company h4 {
              align-self: center; }
            #right .container__right .catalog__top .developers .companies .company img {
              max-width: 30px;
              margin-right: 13px; }
        #right .container__right .catalog__top .developers .name__tovars {
          display: flex;
          justify-content: space-between;
          margin-top: 35px; }
          #right .container__right .catalog__top .developers .name__tovars h5 {
            font-size: 16px; }
    #right .container__right .catalog__content {
      display: flex;
      flex-direction: column;
      margin-top: 50px; }
      #right .container__right .catalog__content .content__menu {
        display: flex;
        justify-content: flex-end; }
        #right .container__right .catalog__content .content__menu .sortirovka {
          display: flex;
          position: relative; }
          #right .container__right .catalog__content .content__menu .sortirovka .variant__value {
            margin-left: 5px;
            align-self: center; }
          #right .container__right .catalog__content .content__menu .sortirovka .variants {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 18px;
            background: #ffffff;
            width: 100%;
            border: 1px solid #0a0a0a;
            border-radius: 10px; }
            #right .container__right .catalog__content .content__menu .sortirovka .variants li {
              list-style: none;
              text-align: right;
              margin-bottom: 10px;
              padding: 10px 0;
              border-bottom: 1px solid #0a0a0a;
              padding-right: 20px; }
            #right .container__right .catalog__content .content__menu .sortirovka .variants li:last-child {
              margin-bottom: 0;
              border-bottom: none; }
            #right .container__right .catalog__content .content__menu .sortirovka .variants li:hover {
              color: #0a0a0a; }
          #right .container__right .catalog__content .content__menu .sortirovka i {
            margin-left: 8px;
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px;
            height: 3px;
            align-self: center; }
          #right .container__right .catalog__content .content__menu .sortirovka .down {
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg); }
          #right .container__right .catalog__content .content__menu .sortirovka .variants:hover {
            display: flex !important; }
        #right .container__right .catalog__content .content__menu .sortirovka:hover {
          cursor: pointer; }
          #right .container__right .catalog__content .content__menu .sortirovka:hover .variants {
            display: flex !important; }
        #right .container__right .catalog__content .content__menu .view {
          margin-left: 90px;
          display: flex; }
          #right .container__right .catalog__content .content__menu .view .rows {
            width: 24px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 10px; }
            #right .container__right .catalog__content .content__menu .view .rows .line {
              height: 4px;
              width: 100%;
              background: #dfdede; }
          #right .container__right .catalog__content .content__menu .view .active .line {
            background: #0a0a0a; }
          #right .container__right .catalog__content .content__menu .view .rows:hover {
            cursor: pointer; }
            #right .container__right .catalog__content .content__menu .view .rows:hover .line {
              background: #0a0a0a; }
          #right .container__right .catalog__content .content__menu .view .columns {
            display: grid;
            width: 20px;
            height: 20px;
            grid-template-columns: 9px 9px;
            grid-template-rows: 9px 9px;
            grid-row-gap: 2px;
            grid-column-gap: 2px;
            margin-left: 14px; }
            #right .container__right .catalog__content .content__menu .view .columns .kvadrat {
              width: 100%;
              height: 100%;
              background-color: #dfdede; }
          #right .container__right .catalog__content .content__menu .view .active .kvadrat {
            background: #0a0a0a; }
          #right .container__right .catalog__content .content__menu .view .columns:hover {
            cursor: pointer; }
            #right .container__right .catalog__content .content__menu .view .columns:hover .kvadrat {
              background: #0a0a0a; }
      #right .container__right .catalog__content .tovars .catalog__containers__row {
        margin-top: 40px;
        display: flex;
        flex-direction: column; }
        #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row {
          border: 1px solid #3e3939;
          display: grid;
          grid-template-columns: 26.8421052632% 50% 23.2631578947%;
          width: 100%;
          align-items: center;
          padding: 30px 0;
          margin-top: 8px; }
          #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row img {
            max-width: 169px;
            width: 100%;
            grid-area: 1/1/2/2;
            justify-self: center; }
          #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .center {
            grid-area: 1/2/2/3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%; }
            #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .center .top {
              display: grid;
              grid-template-rows: 50% 50%;
              grid-template-columns: 50% 50%; }
              #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .center .top h4 {
                grid-area: 1/1/2/3; }
              #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .center .top .stars {
                grid-area: 2/1/3/2; }
                #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .center .top .stars img {
                  max-width: 11px;
                  margin-left: 2px; }
                #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .center .top .stars img:first-child {
                  margin-left: 0; }
              #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .center .top h5 {
                color: green;
                text-align: right;
                grid-area: 2/1/3/2; }
            #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .center .haracter .bold {
              font-weight: 700; }
          #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart {
            grid-area: 1/3/2/4;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding-right: 15px; }
            #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .price {
              text-align: left; }
            #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom {
              display: grid;
              grid-template-columns: 50% 50%;
              grid-template-rows: 50% 50%; }
              #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom .kolvo {
                grid-area: 1/1/2/2;
                width: 95px;
                height: 32px;
                display: grid;
                grid-template-columns: 21.5px 52px 21.5px; }
                #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom .kolvo .min {
                  grid-area: 1/1/2/2;
                  width: 100%;
                  height: 100%;
                  border-radius: 15px 0 0 15px;
                  border: 1px solid #000000;
                  border-right: none;
                  display: grid;
                  text-align: center;
                  font-size: 20px;
                  font-weight: 700; }
                #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom .kolvo .min:hover {
                  cursor: pointer; }
                #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom .kolvo .kolvo__input {
                  width: 100%;
                  height: 100%;
                  border: 1px solid #000000;
                  text-align: center; }
                #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom .kolvo .plu {
                  width: 100%;
                  height: 100%;
                  border-radius: 0 15px 15px 0;
                  border: 1px solid #000000;
                  border-left: none;
                  display: grid;
                  align-items: center;
                  text-align: center;
                  font-size: 20px;
                  font-weight: 700; }
                #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom .kolvo .plu:hover {
                  cursor: pointer; }
              #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom img {
                grid-area: 1/2/2/3;
                max-width: 24px;
                justify-self: end; }
              #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom .buy {
                grid-area: 2/1/3/3;
                height: 50px;
                display: grid;
                grid-template-columns: 70% 30%;
                align-items: center;
                text-decoration: none; }
                #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom .buy span {
                  height: 36px;
                  width: 100%;
                  border: 1px solid #ff7517;
                  display: flex;
                  align-content: center;
                  justify-content: center; }
                  #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom .buy span p {
                    color: #2c2727;
                    font-size: 1em;
                    font-weight: 400;
                    align-self: center; }
                  #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom .buy span svg {
                    max-width: 28px;
                    height: 100%; }
                #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom .buy span:first-child {
                  border-right: none; }
              #right .container__right .catalog__content .tovars .catalog__containers__row .catalog__container__row .right__cart .bottom .buy:hover {
                cursor: pointer; }
      #right .container__right .catalog__content .tovars .catalog__containers__column {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-row-gap: 10px;
        margin-top: 40px;
        grid-column-gap: 10px; }
        #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column {
          max-width: 230px; }
          #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-row-gap: 20px;
            padding: 10px 15px 0 15px;
            border: 1px solid #3e3939;
            border-bottom: none; }
            #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .stars {
              grid-area: 1/1/2/2;
              display: flex; }
              #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .stars img {
                max-width: 11px;
                height: 11px;
                align-self: center;
                margin-left: 3px; }
              #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .stars img:first-child {
                margin-left: 0; }
            #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .diagram {
              max-width: 24px;
              width: 100%;
              grid-area: 1/2/2/3;
              justify-self: end; }
            #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .image__tovar {
              grid-area: 2/1/3/3;
              position: relative;
              display: grid; }
              #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .image__tovar p {
                position: absolute;
                align-self: start;
                justify-self: start;
                z-index: 2;
                color: green; }
              #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .image__tovar img {
                width: 60%;
                position: relative;
                z-index: 1;
                justify-self: center; }
            #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .about__tovar {
              grid-area: 3/1/4/3;
              display: flex;
              flex-direction: column; }
              #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .about__tovar h3 {
                font-size: 1em;
                font-weight: 600;
                margin-bottom: 23px; }
              #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .about__tovar .haracter {
                display: flex;
                flex-direction: column;
                margin-bottom: 34px; }
                #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .about__tovar .haracter p {
                  font-size: 0.75em;
                  font-weight: 300;
                  font-size: 0.75em;
                  font-weight: 600; }
              #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .ramka .about__tovar .cost {
                color: #2c2727;
                font-size: 1em;
                font-weight: 600;
                margin-bottom: 25px; }
          #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .buy {
            display: grid;
            grid-template-columns: 70% 30%;
            align-items: center; }
            #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .buy span {
              height: 36px;
              width: 100%;
              border: 1px solid #ff7517;
              display: flex;
              align-content: center;
              justify-content: center; }
              #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .buy span p {
                color: #2c2727;
                font-size: 1em;
                font-weight: 400;
                align-self: center; }
              #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .buy span svg {
                max-width: 28px;
                height: 100%;
                align-self: center; }
            #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .buy span:first-child {
              border-right: none; }
          #right .container__right .catalog__content .tovars .catalog__containers__column .catalog__container__column .buy:hover {
            cursor: pointer; }
      #right .container__right .catalog__content .tovars .btn__more {
        width: 100%;
        height: 40px;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: 33px 0; }
        #right .container__right .catalog__content .tovars .btn__more p {
          align-self: center;
          text-decoration: underline; }
      #right .container__right .catalog__content .tovars .kolvo__info {
        height: 30px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        border: 1px solid #3e3939; }
        #right .container__right .catalog__content .tovars .kolvo__info .left {
          display: flex;
          padding-left: 22px;
          justify-content: flex-start; }
          #right .container__right .catalog__content .tovars .kolvo__info .left p {
            align-self: center;
            font-size: 12px; }
        #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars {
          display: flex; }
          #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars .pages {
            display: flex; }
            #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars .pages .active__page {
              border: none !important;
              background-color: #ff7517; }
            #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars .pages .number__page {
              width: 30px;
              height: 30px;
              border: 1px solid #3e3939;
              align-self: center;
              display: grid;
              align-items: center;
              justify-items: center; }
            #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars .pages .number__page:hover {
              cursor: pointer;
              border: none !important;
              background-color: #ff7517; }
          #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars .prev, #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars .next {
            width: 30px;
            height: 30px;
            border: 1px solid #3e3939;
            box-sizing: border-box;
            align-self: center;
            display: grid;
            align-items: center;
            justify-items: center; }
          #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars .prev:hover, #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars .next:hover {
            cursor: pointer;
            background-color: #ff7517; }
          #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars .prev span {
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px; }
          #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars .prev .left__arrow {
            transform: rotate(135deg);
            -webkit-transform: rotate(135deg); }
          #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars .next span {
            border: solid black;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 3px; }
          #right .container__right .catalog__content .tovars .kolvo__info .nav__tovars .next .right__arrow {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg); }
      #right .container__right .catalog__content .how__select {
        margin-top: 100px; }

/*# sourceMappingURL=catalog.css.map */
