*
  padding: 0
  margin: 0
  border: 0
  outline: none
  box-sizing: border-box

html
  overflow-x: hidden

body
  font-family: 'Futura', Arial, sans-serif
  font-weight: 400
  color: #2c2727
  overflow-x: hidden
  display: flex
  flex-direction: column

h1, h2, h3, h4, h5
  font-family: 'Futura', Arial, sans-serif
  font-weight: 700

.container
  width: 100%
  max-width: 1170px
  margin: 0 auto

  &.container-right
    padding-left: 220px

header
  .top
    background-color: #f6f4f4

    a
      text-decoration: none
      color: #2c2727
      font-size: 16px/16px*1em
      font-weight: 700
      min-height: 47px

    text-decoration: none
    color: #2c2727
    font-size: 16px/16px*1em
    font-weight: 700
    min-height: 47px

  a:hover
    color: #fb7417

    svg
      fill: #fb7417

  .top
    a
      display: flex
      align-items: center

    svg
      width: 18px
      height: 18px
      margin-right: 10px

    .container
      display: flex
      align-items: center
      justify-content: flex-end

    .email, .worktime
      display: flex
      align-items: center
      margin-right: 80px

    .phone
      display: flex
      align-items: center
      margin-right: 80px

      div
        display: flex
        flex-direction: column
        font-size: 8px

    .email
      margin-right: 55px

    .worktime
      margin-right: 65px

  .dark
    background-color: #3e3939

  .logo img
    max-width: 200px
    height: auto

.dark
  .container
    display: flex
    align-items: center
    width: 100%

  nav
    flex: auto

    > ul
      display: flex
      justify-content: space-between

      > li
        list-style: none
        flex: auto
        text-align: center

        > a
          font-size: 14px/16px*1em
          text-decoration: none
          font-weight: 700
          display: block
          color: #f6f4f4
          text-transform: uppercase
          line-height: 53px

.cart
  position: relative
  cursor: pointer
  height: 50px
  padding-top: 9px

  svg
    fill: #fff
    width: 33px
    height: 27px
    margin-top: 3px
    margin-right: 10px

  > span
    background-color: #fb7417
    color: #fff
    width: 19px
    height: 19px
    display: block
    text-align: center
    line-height: 19px
    border-radius: 50%
    font-size: 12px/16px*1em
    right: 0
    position: absolute
    top: 7px

.cart-list
  display: none
  position: absolute
  right: 0
  z-index: 9
  top: 51px
  background-color: #fff
  width: 315px
  border: 1px solid #000
  border-top: none
  padding: 10px 15px

.cart:hover .cart-list
  display: block

.cart-list
  &:hover
    display: block

  li
    list-style: none
    display: flex
    align-items: center
    font-size: 14px/16px*1em
    line-height: 1.5
    justify-content: space-between
    margin-bottom: 5px

.cart-sum
  display: flex
  justify-content: space-between
  font-size: 14px/16px*1em
  font-weight: bold
  margin-top: 11px

.cart
  a
    background-color: #fb7417
    color: #fff
    display: block
    text-decoration: none
    text-align: center
    line-height: 25px
    font-size: 14px/16px*1em
    margin-top: 20px

    &:hover
      color: #fff

  img
    max-width: 45px

.main
  display: flex

aside
  width: 220px
  flex: 0 0 220px

  ul.submenu
    display: none

  .open + ul.submenu
    display: block

.search
  position: relative
  margin-bottom: 2px

  input
    &[type="text"]
      border: 1px solid #000
      width: 100%
      font-style: italic
      font-family: inherit
      font-size: 12px/16px*1em
      height: 50px
      padding-left: 45px

    &[type="submit"]
      position: absolute
      width: 17px
      height: 17px
      left: 15px
      top: 15px
      background: none
      text-indent: -999px
      overflow: hidden
      background-size: contain
      background-image: url(img/search.svg)
      background-repeat: no-repeat
      background-size: contain
      opacity: 0.8
      cursor: pointer

      &:hover
        opacity: 1

aside,.navigation
  li
    list-style: none

  a
    border: 1px solid #3e3939
    height: 48px
    display: flex
    align-items: center
    margin-bottom: 2px
    color: #2c2727
    font-size: 14px/16px*1em
    text-decoration: none
    padding-left: 30px

  > ul > li > a
    padding-left: 15px
    background-color: #f6f4f4
    font-weight: 700


.main .right
    flex: 1
    max-width: 75%

    #carousel
        display: flex
        padding: 43px 0px 46px 66px
        position: relative
        overflow: hidden
        max-height: 433px
        height: 100%
        margin-bottom: 46px

        .carousel__indikators
            position: absolute
            grid-area: 4/1/5/2
            display: flex
            bottom: 0

            .active
              background-color: #2c2727

            .circle
                width: 10px
                height: 10px
                border: 1px solid #2c2727
                border-radius: 50%
                margin-left: 7px

            .circle:hover
                background-color: #2c2727
                cursor: pointer
        
        .carusel__container
            display: grid
            grid-template-columns: 50% 50%
            width: 100%

            h2
                grid-area: 1/1/3/2
                align-self: center
                margin: 0

            .cost
                grid-area: 2/1/3/2
                align-self: end
                color: #2c2727
                font-size: 24px/16px*1em
                font-weight: bold

            .buy
                grid-area: 3/1/4/2
                height: 96px
                display: grid
                grid-template-columns: 125px 96px
                align-items: center

                span
                    height: 36px
                    width: 100%
                    border: 1px solid #ff7517
                    display: flex
                    align-content: center
                    justify-content: center

                    p
                        color: #2c2727
                        font-size: 16px/16px*1em
                        font-weight: 400
                        align-self: center

                    svg
                        max-width: 28px
                        height: 100%

                span:first-child
                    border-right: none

            .buy:hover
                cursor: pointer
                    
            img
                grid-area: 1/2/4/3
                width: 100%
                max-height: 100%


        


.advantages
  display: flex
  position: relative
  align-items: flex-start
  justify-content: space-between
  background-color: #f6f4f4
  padding: 55px 0 55px 55px

  &:after
    content: ""
    display: block
    height: 100%
    width: 199%
    top: 0
    background-color: #f6f4f4
    position: absolute
    z-index: -1

  svg
    fill: #ff7517
    width: 60px
    height: 60px

  div
    display: flex
    flex-direction: column
    flex: 0 0 16.6%
    text-align: center
    align-items: center

  span
    font-weight: 700
    font-size: 16px/16px*1em
    margin-top: 16px

.categories
  padding-top: 50px
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr

  a
    flex: 0 0 20%
    text-decoration: none
    margin-bottom: 50px

    span
      background-color: #3e3939
      color: #fff
      text-align: center
      height: 80px
      display: block
      font-size: 16px/16px*1em
      font-weight: 700
      padding-top: 20px

    &:hover span
      background-color: #fb7417

.manufactures-list
  display: flex
  flex-wrap: wrap
  justify-content: space-between

.manufactures-list__item
  flex: 0 0 19%

  a
    text-decoration: none
    color: #2c2727
    font-size: 16px/16px*1em
    line-height: 18px
    font-weight: 700

    &:hover
      text-decoration: underline

  > a
    background-color: #f6f4f4
    display: block
    text-align: center
    line-height: 36px
    margin-bottom: 22px

  img
    width: 100%
    display: block

  ul
    list-style: none

.popular__hits
  display: flex
  flex-direction: column
  margin-top: 80px
  margin-bottom: 80px

  .container
    max-width: 950px
    width: 100%

  .top
    display: grid
    grid-template-columns: 49% 47%
    grid-column-gap: 40px
    position: relative

    .button__active
      border-bottom: 3px solid #ff7517 !important

    .new__button
      grid-area: 1/1/2/2
      align-self: start
      justify-self: end
      box-sizing: border-box
      border-bottom: 3px solid #3e3939 
      position: relative
      z-index: 10
      margin: 0
      padding-bottom: 20px

    .new__button:hover
      border-bottom: 3px solid #ff7517
      cursor: pointer

    .hits__button
      grid-area: 1/2/2/3
      align-self: start
      justify-self: start
      box-sizing: border-box
      border-bottom: 3px solid #3e3939 
      position: relative
      z-index: 10
      margin: 0
      padding-bottom: 20px

    .hits__button:hover
      border-bottom: 3px solid #ff7517
      cursor: pointer

    .line
      grid-area: 1/1/2/3
      width: 100%
      height: 3px
      background-color: #3e3939 
      align-self: end
      position: absolute
      z-index: 9

  .more__button__container
    display: flex
    position: relative

    .circle__more
      width: 50px
      height: 50px
      border-radius: 50%
      background-color: #3e3939
      display: grid
      position: absolute
      align-self: center
      z-index: 11
      right: -25px

      svg
        align-self: center  
        justify-self: center
        max-width: 15px
        fill: #ffffff

    .populars__containers
      display: flex
      overflow-x: scroll
      margin-top: 25px
      scroll-behavior: smooth

      .popular__container
        max-width: 230px
        margin-left: 10px

        .ramka
          display: grid
          grid-template-columns: 50% 50%
          grid-row-gap: 20px
          padding: 10px 15px 0 15px
          border: 1px solid #3e3939
          border-bottom: none

          .stars
            grid-area: 1/1/2/2
            display: flex

            svg
              fill: #ff7517
              width: 12px

          .diagram
            max-width: 24px
            width: 100%
            grid-area: 1/2/2/3

          .image__tovar
            grid-area: 2/1/3/3
            position: relative
            display: grid

            p
              position: absolute
              align-self: start
              justify-self: start
              z-index: 2

            img
              width: 60%
              position: relative
              z-index: 1
              justify-self: center

          .about__tovar
            grid-area: 3/1/4/3
            display: flex
            flex-direction: column

            h3
              font-size: 16px/16px*1em
              font-weight: 600
              margin-bottom: 23px

            .haracter
              display: flex
              flex-direction: column
              margin-bottom: 34px

              p
                font-size: 12px/16px*1em
                font-weight: 300

                .bold
                  font-size: 12px/16px*1em
                  font-weight: 600

            .cost
              color: #2c2727
              font-size: 16px/16px*1em
              font-weight: 600
              margin-bottom: 25px
          
        .buy
          display: grid
          grid-template-columns: 70% 30%
          align-items: center

          span
            height: 36px
            width: 100%
            border: 1px solid #ff7517
            display: flex
            align-content: center
            justify-content: center

            p
              color: #2c2727
              font-size: 16px/16px*1em
              font-weight: 400
              align-self: center

              svg
                max-width: 28px
                height: 100%
                align-self: center

          span:first-child
            border-right: none

        .buy:hover
          cursor: pointer

      .popular__container:first-child
        margin-left: 0

    .populars__containers::-webkit-scrollbar
      height: 0px
      width: 0px

  



.about
  color: #f6f4f4
  font-size: 18px/16px*1em
  position: relative
  padding-bottom: 40px

  &:before
    content: ''
    width: 100%
    height: 86%
    height: calc(100% - 150px)
    background-color: #3e3939
    position: absolute
    top: 150px
    left: 0
    z-index: -5

  p
    margin: 15px 0

  .subtitle
    font-weight: 700
    max-width: 665px
    margin-top: 50px
    text-align: justify

  h1
    color: #000
    font-size: 24px/16px*1em
    margin-bottom: 55px

.about-img
  position: relative

  &:after
    content: ''
    top: -20px
    left: 20px
    border: 1px solid #ff7517
    width: 100%
    max-width: 665px
    height: 100%
    display: block
    position: absolute
    z-index: -4

.faq
  padding-top: 80px

  p
    font-size: 18px/16px*1em
    margin: 30px 0
    color: #000

.faq-list__item-title
  font-size: 18px/16px*1em
  font-weight: 700
  padding-left: 65px
  line-height: 27px
  margin-bottom: 35px
  position: relative
  cursor: pointer
  transition-duration: 1s

  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 27px
    height: 27px
    background-color: #fb7417

.active .faq-list__item-title
  color: #fff
  display: inline-block
  background-color: #fb7417
  padding-right: 45px
  margin-bottom: 0

.faq-list__item-desc
  display: none

.active .faq-list__item-desc
  display: block

h2
  font-size: 24px/16px*1em
  margin-bottom: 35px

.reviews
  background-color: #f6f4f4
  padding-top: 35px
  padding-bottom: 105px

  .container-right
    display: grid
    grid-row-gap: 60px
    position: relative

    .otzyv__containers
      display: flex
      justify-content: space-between

      .active
        transform: scale(1.5)

      .activeLeft
        transform: scale(1.5) translateX(90%)

      .activeRight
        transform: scale(1.5) translateX(-90%)

      .otzyv,.otzyvfake
        display: grid
        justify-items: center
        max-width: 256px/950px*100%
        width: 256px

        img
          grid-area: 1/1/3/2
          align-self: start
          position: relative
          z-index: 2

        .otzyv__text
          position: relative
          border: 1px solid #2c2727
          z-index: 1
          display: grid
          grid-area: 2/1/4/2
          margin-top: 10px
          padding: 38px 9px 48px 9px
          background-color: #f6f4f4

          h3
            text-align: center
            grid-area: 1/1/2/2
            font-size: 12px/16px*1em

          .dots
            grid-area: 2/1/3/2
            display: flex
            justify-content: center

            .dot
              width: 3px
              height: 3px
              border-radius: 50%
              margin-left: 3px
              background-color: #2c2727
              margin-top: 10px

            .dot:first-child
              margin-left: 0

          .main__text
            margin-top: 15px
            p
              font-size: 10px
              font-weight: 400

          .dostoinstva
            margin-top: 7px
            p
              font-size: 10px
              font-weight: 400

              .bold
                font-weight: 600

    .dots__indicators
      display: flex
      justify-self: center
      margin-top: 60px

      .active
        background-color: #2c2727

      .circle
          width: 10px
          height: 10px
          border: 1px solid #2c2727
          border-radius: 50%
          margin-left: 7px          

          


footer
  background-color: #3e3939
  color: #f6f4f4
  padding: 35px 0 40px

  .container
    display: flex
    justify-content: space-between

  .phones a
    display: block
    line-height: 30px
    font-size: 16px/16px*1em

  a
    color: #f6f4f4
    text-decoration: none

    &:hover
      color: #fb7417

  svg
    width: 18px
    height: 18px
    fill: #f6f4f4

  a:hover svg
    fill: #fb7417

  input
    display: block
    margin-left: auto

  ul
    list-style: none

    li a
      color: #f6f4f4
      text-decoration: none
      padding: 6px 0
      font-size: 16px/16px*1em
      display: block

  img.logo
    max-width: 200px

  .col
    &:last-child
      text-align: right
      flex: 0 0 220px

      strong
        margin-bottom: 5px
        display: block

    &:first-child p
      margin: 25px 0

  a.email
    display: flex
    margin-bottom: 30px

    svg
      margin-right: 10px

  .social
    display: flex
    margin: 30px 0

    svg
      margin-left: 7px
      width: 22px
      height: 22px

  form
    margin-top: 25px

    input[type="text"]
      width: 100%
      max-width: 220px
      height: 32px
      line-height: 32px
      font-family: inherit
      background: none
      border: 1px solid #fff
      color: #fff
      font-size: 12px/16px*1em
      padding-left: 12px
      margin-bottom: 5px

  input[type="submit"]
    background: none
    background-color: #ff7517
    color: #fff
    height: 32px
    line-height: 32px
    width: 100%
    max-width: 220px
    font-family: inherit

@media (max-width: 900px)
  .advantages
    padding: 55px
    flex-wrap: wrap

    div
      flex: 0 0 50%
      margin-bottom: 15px

  aside
    display: none

  .container.container-right
    padding-left: 0

  .manufactures-list__item
    ul, > a, img
      text-align: center
      max-width: 200px
      width: 200px

    flex: 0 0 50%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-bottom: 45px

  .manufactures h2, .faq h2
    text-align: center

  .about-img img
    display: block
    max-width: 100%

  .faq-list__item-title
    padding-left: 35px

  .active
    .faq-list__item-title
      display: block
      padding-left: 13px

      &:before
        display: none

    .faq-list__item-desc
      padding: 0 13px

  .about .subtitle, .about-content p
    padding: 0 15px

  .categories a
    flex: 0 0 50%
    text-align: center

  footer
    input
      display: block
      margin-left: auto
      margin-right: auto

    .col
      &:last-child
        text-align: center
        flex: 0 0 220px
        order: -1
        margin-bottom: 65px

      padding: 0 15px

    .container
      flex-direction: column

    ul li a
      padding: 10px 0
      border-bottom: 1px solid #fff

@media (max-width: 550px)
  .manufactures-list__item
    flex: 0 0 100%