@font-face {
    font-family: 'Futura';
    src: url('futuralightc-webfont.eot');
    src: url('futuralightc-webfont.eot?#iefix') format('embedded-opentype'),
         url('futuralightc-webfont.woff2') format('woff2'),
         url('futuralightc-webfont.woff') format('woff'),
         url('futuralightc-webfont.svg#futuralightcregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Futura';
    src: url('futuramediumc-webfont.eot');
    src: url('futuramediumc-webfont.eot?#iefix') format('embedded-opentype'),
         url('futuramediumc-webfont.woff2') format('woff2'),
         url('futuramediumc-webfont.woff') format('woff'),
         url('futuramediumc-webfont.svg#futuramediumcregular') format('svg');
    font-weight: 700;
    font-style: normal;

}